body{
  
  padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
 
}
.logo{
  width: 40px;
}
h1{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.container1{
 
  background-color: rgb(44, 40, 40);

  margin: 10px;
  display: inline-block;
  height: auto;
  width: 400px;
  border: 2px solid rgb(42, 41, 41);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
 /* overflow hidden will hide all the over flow part or child component that goes out of parent box */
 
}

.navbar{
  color: cyan;
  background-color: rgb(44, 44, 44);
  display: flex;
  position: relative;
  height: 50px;
  padding: 10px;
    /* box-shadow: 0 6px 10px rgba(175, 171, 171, 0.505); */
}
.container1 ul li::marker{
  color:cyan;
  font-size: 30px;
}
.navbar ul{
  
  list-style: none;
  display: flex;
  gap: 10px;
   position: absolute;
 right: 10px; 
}
.navbar h2{
  position: absolute;
  top: 3px;
  left: 54px;
 
}
.navbar ul li{
  color: white;
}
footer{
   background-color: rgb(44, 44, 44);
  color: white;
  height: 40px;
   /* box-shadow: 6px 0px 10px rgba(131, 126, 126, 0.632); */

 border-radius: 0px 0px 11px 11px;
 padding: 10px;
  
}
.backimg{
  position: absolute;

  display: inline;
  z-index: 1;
  top: 90px;
  right: -79px;

}
.backimg img{
  height: 150px;
  opacity: 0.2;
 
}
