body{
  padding: 0;
    color: rgb(42, 41, 41);
    font-family: 'Times New Roman', Times, serif;
    
}
.logo{
  width: 80px;
}
h1{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.container1{
  padding: 20px;
  height: auto;
  width: 400px;
  border: 2px solid rgb(42, 41, 41);
  border-radius: 20px;
  margin: 10px;
}